# Data manipulation
pandas==2.2.2
numpy==1.26.4

# Visualisation
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

# Statistiques & Machine Learning
scipy==1.13.0
scikit-learn==1.4.2
xgboost==2.0.3
shap==0.45.0

# Dashboard interactif
streamlit==1.35.0

# Notebook
notebook==7.2.0
ipykernel==6.29.4

# PDF
reportlab==4.2.0

# Hyperparameter tuning 
# optuna==3.6.1
